.soName{
	float:left;
	width:100%;
	padding:5px;
}
.sopoints{
	float:right;
	border:solid 2px white;
	border-radius:25%;
	padding:5px;
	margin-right:5px;
}
.sotoolbar{
	background-color:#00BBD3;
	color:white;
	padding:2px;
}
.soimg{
	float:right;
	padding:10px;
}

.card {
     background-color: #fff;
     margin: 20px;
     border-radius: 5px;
     box-shadow: 6px 6px 3px #888888;
     cursor: pointer;
 }
 .card-block {
     padding: 10px;
 }
 .card-title {
     font-weight: bold;
     color: black;
 }

 .milestone {
     cursor: pointer;
 }

 .filled {
     background-color: #337ab7 !important;
 }
 .qtyem {
     font-size: 80%;
     font-weight: lighter;
 }
 .chart {
     width: 100%;
     height: 100px;
 }
 


 .progress-text {
     display: inline-block;
     float: right;
 }
 .skewindicator {
     height: 10px;
     width: 10px;
     padding: 5px;
     display: inline-block;
 }
 .achvdvalue {
     font-weight: normal;
     display: inline-block;
     font-size: smaller;
 }
 .boxdiv,
 .badcommon,
 .goodcommon,
 .vgoodcommon {
     height: 10px;
     width: 10px;
     padding: 5px;
     display: inline-block;
 }
 .color-ghostblack {
     background-color: #666666;
 }
 .color-ghostwhite {
     background-color: #f5f5f5;
 }
 .targetvalue,
 .tobeachvd,
 .bad,
 .good,
 .vgood,
 .newseg {
     font-weight: normal;
     display: inline-block;
     font-size: smaller;
 }

 .color-red {
     background-color: #d9534f
 }
 .color-orange {
     background-color: orange;
 }
 .color-lightgreen {
     background-color: lightgreen;
 }
.item {
     width: 7%;
     box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
     background-color: #f5f5f5;
     border-radius: 3px;
     margin-right: 2px;
     float: left;
     display: block;
     height: 20px;
 }





 @media(max-width:767px) {
  
    .progress {
        margin-left: 45px;
        width: 60%;
        height: 30px;
    }
    
    .progress-text {
        margin-top: 5px;
    }
    .comment {
        margin-left: 40px;
        font-size: x-small;
    }

     .highestachno , .qtycurrentno {
     font-weight: bolder;
     font-size: 10px;
 }
 .milestonediv {
        margin-left: 70px;
    }
 .milestone {
     font-size: 10px;
     border: solid 2px;
     border-radius: 30%;
     padding: 10px;
     color: #00BBD3;
 }
 
  
  
}
@media(min-width:768px) {
    
    td {
        font-size: 1.5vw;
    }
  
    .progress {
        margin-left: 80px;
        width: 60%;
        height: 30px;
    }
    .progress-text {
        margin-top: 5px;
    }
    .comment {
        margin-left: 35px;
    }
    
    
    
    .page-name {
        font-size: 15px;
    }
    
    .milestonediv {
        margin-left: 100px!important;
    }
    .milestone {
     font-size: 12px;
     border: solid 2px;
     border-radius: 30%;
     padding: 10px;
     color: #00BBD3;
 }
}
@media(min-width:992px) {
    
    td {
        font-size: 1vw;
    }
  
    .progress {
        margin-left: 150px;
        width: 55%;
        height: 30px;
    }
    .progress-text {
        margin-top: 5px;
    }
    .legend2 {
        margin-left: 80px;
    }
    .comment {
        margin-left: 40px;
    }
    
    .milestonediv {
        margin-left: 150px!important;
    }
    .milestone {
     font-size: 13px;
     border: solid 2px;
     border-radius: 30%;
     padding: 10px;
     color: #00BBD3;
 }
}
@media(min-width:1200px) {
    
    .legend2{
        margin-left: 110px;
    }
    .comment {
        margin-left: 50px;
    }
    .progress {
        margin-left: 170px;
        width: 60%;
        height: 30px;
    }
    .progress-text {
        margin-top: 5px;
    }
    
    .milestonediv {
        margin-left: 180px!important;
        font-size: 15px;
    }
    .milestone {
     font-size: 15px;
     border: solid 2px;
     border-radius: 30%;
     padding: 10px;
     color: #00BBD3;
 }
}